
@{
    ViewBag.Title = "HorarioProfesional";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />*@
<link href="~/Timepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

<div class="col-lg-12 col-xl-12 order-lg-12 order-xl-12">
    <div class="card mb-3">
        <div class="card-header text-center">
            <label class="kt-portlet__head-title">Horario</label>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Profesional</label>
                        <select type="email" class="form-control">
                            <option value="0">--Seleccione--</option>
                            <option value="1">Diego</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Servicio</label>
                        <select type="email" class="form-control">
                            <option value="0">--Seleccione--</option>
                            <option value="1">Broncopulmonar</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header text-center">

        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Lunes <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                        <th>
                            Martes <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                        <th>
                            Miercoles <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                        <th>
                            Jueves <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                        <th>
                            Vienes <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                        <th>
                            Sabado <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                        <th>
                            Domingo <span style="width: 40px;"><label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label></span>

                        </th>
                    </tr>
                </thead>

            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>Hora inicio</label>
                                <div class="form-control-wrapper">
                                    <input type="text" id="HoraInicio" class="form-control floating-label" placeholder="Hora">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>Hora termino</label>
                                <div class="form-control-wrapper">
                                    <input type="text" id="HoraTermino" class="form-control floating-label" placeholder="Hora">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>Jornada</label>
                                <select type="email" class="form-control">
                                    <option value="0">--Seleccione--</option>
                                    <option value="1">Mañana</option>
                                    <option value="2">Tarde</option>
                                    <option value="3">Especial</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>Fecha desde</label>
                                <div class="form-control-wrapper">
                                    <input type="text" id="FechaDesde" class="form-control floating-label" placeholder="Hora">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>Fecha hasta</label>
                                <div class="form-control-wrapper">
                                    <input type="text" id="FechaHasta" class="form-control floating-label" placeholder="Hora">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>Duración</label>
                                <div class="form-control-wrapper">
                                    <input type="number" min="15" max="120" id="Duracion" class="form-control floating-label" placeholder="Hora">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label>Espacio</label>
                                <div class="form-control-wrapper">
                                    <input type="number" min="5" max="120" id="Espacio" class="form-control floating-label" placeholder="Hora">
                                </div>
                            </div>
                        </th>

                    </tr>
                </thead>

            </table>
        </div>
        <div class="card-footer text-right">
            <div class="form-group">
                <label>Agregar</label>
                <button class="btn btn-sm btn-info"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>

</div>

@*<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>*@
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>*@
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script src="~/Timepicker/js/bootstrap-material-datetimepicker.js"></script>
<script>
    $('#HoraInicio').bootstrapMaterialDatePicker
        ({
            date: false,
            shortTime: false,
            format: 'HH:mm'
        });

    $('#HoraTermino').bootstrapMaterialDatePicker
        ({
            date: false,
            shortTime: false,
            format: 'HH:mm'
        });

    $('#FechaDesde').bootstrapMaterialDatePicker
        ({
            format: 'DD/MM/YYYY HH:mm',
            time: false,
            clearButton: true
        });
    $('#FechaHasta').bootstrapMaterialDatePicker
        ({
            format: 'DD/MM/YYYY HH:mm',
            time: false,
            clearButton: true
        });
</script>
