
@{
	ViewBag.Title = "ModosLlegada";
}

<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header mt-0">Administración de Modos de Llegada</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Modos de Llegada Registrados
				</div>
				<div class="panel-body">
					<div id="tblData_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="toolbar" style="float: left;">
							<button id="btnNueva" class="btn btn-primary mr-5" data-toggle="tooltip" data-placement="right" title="" onclick="Crear();" data-original-title="Crear nuevo registro">Crear</button>
						</div>
						<div id="tblData_filter" class="dataTables_filter">
							<label>Buscar:<input type="search" class="form-control input-sm ml-3" placeholder="" aria-controls="tblData"></label>
						</div>
						<div id="tblData_processing" class="dataTables_processing" style="display: none;">Procesando...</div>
						<table width="100%" class="table table-info table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="tblData" role="grid" aria-describedby="tblData_info" style="width: 100%;">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0" aria-controls="tblData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nombre: Activar para ordenar la columna de manera descendente" style="width: 93px;">Nombre</th>
									<th class="text-centered sorting" tabindex="0" aria-controls="tblData" rowspan="1" colspan="1" aria-label="Creación: Activar para ordenar la columna de manera ascendente" style="width: 115px;">Creación</th>
									<th class="text-centered sorting" tabindex="0" aria-controls="tblData" rowspan="1" colspan="1" aria-label="Edición: Activar para ordenar la columna de manera ascendente" style="width: 116px;">Edición</th>
									<th class="text-centered sorting_disabled" rowspan="1" colspan="1" aria-label="Estado" style="width: 54px;">Estado</th>
									<th class="text-centered sorting_disabled" rowspan="1" colspan="1" aria-label="Acciones" style="width: 72px;">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd">
									<td class="sorting_1">Facebook Ads</td>
									<td class=" text-centered">
										23/11/2016 12:07
										<span class="fa fa-info-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title="Creado por: Danilo Hidalgo"><span></span></span>
									</td>
									<td class=" text-centered">
										23/11/2016 12:12
										<span class="fa fa-info-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title="Editado por: Danilo Hidalgo"><span></span></span>
									</td>
									<td class=" text-centered">Activo</td>
									<td class=" text-centered"></td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">Google Adwords</td>
									<td class=" text-centered">
										23/11/2016 12:05
										<span class="fa fa-info-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title="Creado por: Danilo Hidalgo"><span></span></span>
									</td>
									<td class=" text-centered"></td>
									<td class=" text-centered">Activo</td>
									<td class=" text-centered"></td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">LinkedIn Ads</td>
									<td class=" text-centered">
										23/11/2016 12:07
										<span class="fa fa-info-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title="Creado por: Danilo Hidalgo"><span></span></span>
									</td>
									<td class=" text-centered"></td>
									<td class=" text-centered">Activo</td>
									<td class=" text-centered"></td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">Twitter Ads</td>
									<td class=" text-centered">
										23/11/2016 12:07
										<span class="fa fa-info-circle" data-toggle="tooltip" data-placement="rigth" title="" data-original-title="Creado por: Danilo Hidalgo"><span></span></span>
									</td>
									<td class=" text-centered"></td>
									<td class=" text-centered">Activo</td>
									<td class=" text-centered"></td>
								</tr>
							</tbody>
						</table>
						<div class="dataTables_info" id="tblData_info" role="status" aria-live="polite">Mostrando registros del 1 al 4 de un total de 4 registros</div>
						<div class="dataTables_paginate paging_full_numbers" id="tblData_paginate">
							<ul class="pagination">
								<li class="paginate_button first disabled" aria-controls="tblData" tabindex="0" id="tblData_first">
									<a href="#">Primero</a>
								</li>
								<li class="paginate_button previous disabled" aria-controls="tblData" tabindex="0" id="tblData_previous">
									<a href="#">Anterior</a>
								</li>
								<li class="paginate_button active" aria-controls="tblData" tabindex="0">
									<a href="#">1</a>
								</li>
								<li class="paginate_button next disabled" aria-controls="tblData" tabindex="0" id="tblData_next">
									<a href="#">Siguiente</a>
								</li>
								<li class="paginate_button last disabled" aria-controls="tblData" tabindex="0" id="tblData_last">
									<a href="#">Último</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- I:Modal Crear -->
	<div class="modal fade" id="mdlCrear" tabindex="-1" role="dialog" aria-labelledby="mdlCrearLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">
						<span class="glyphicon glyphicon-plus-sign"></span> Crear Modo de Llegada
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal interline5 sub">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 col-xs-4 control-label" for="txtNombre">Nombre:</label>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<input type="text" class="form-control" id="txtNombre" value="" required="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 col-sm-4 col-xs-4 control-label" for="txtDescripcion">Descripción:</label>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<textarea id="txtDescripcion" class="form-control" rows="4" required="" maxlength="250"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" id="save"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- F:Modal Crear -->
	<!-- I:Modal Editar -->
	<div class="modal fade" id="mdlEditar" tabindex="-1" role="dialog" aria-labelledby="mdlEditarLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">
						<span class="glyphicon glyphicon-pencil"></span> Editar Modo de Llegada
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal interline5 sub">
						<input type="hidden" id="id" value="">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 col-xs-4 control-label" for="txtNombre">Nombre:</label>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<input type="text" class="form-control" id="txtNombre" value="" required="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 col-sm-4 col-xs-4 control-label" for="txtDescripcion">Descripción:</label>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<textarea id="txtDescripcion" class="form-control" rows="4" required="" maxlength="250"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" id="save"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- F:Modal Editar -->
	<script src="/js/admin_modosllegada?v=KxsjF-_jAO1ZpkzUY38qsUQNHPtBFy87wjc043tn_1k1"></script>


	<!-- /.row -->
</div>
