
@{
	ViewBag.Title = "Previsiones";
}

<div class="container-fluid">


	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header mt-0">Administración de Previsiones</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Previsiones Registradas (Seleccione las isapres que estarán disponibles para su empresa).
				</div>
				<div class="panel-body bg-info">
					<ul class="grid grid120x120">
						<li tabindex="0" class="cell active" data-id="5">
							Banmedica (Banmedica)
							<span></span>
						</li>
						<li tabindex="1" class="cell active" data-id="16">
							Capredena (Caja de Previsión de la Defensa Nacional)
							<span></span>
						</li>
						<li tabindex="2" class="cell active" data-id="14">
							Chuquicamata (Chuquicamata)
							<span></span>
						</li>
						<li tabindex="3" class="cell active" data-id="4">
							Colmena (Colmena)
							<span></span>
						</li>
						<li tabindex="4" class="cell active" data-id="3">
							Consalud (Consalud )
							<span></span>
						</li>
						<li tabindex="5" class="cell active" data-id="7">
							Cruz Blanca (Cruz Blanca)
							<span></span>
						</li>
						<li tabindex="6" class="cell active" data-id="10">
							Cruz del Norte (Cruz del Norte)
							<span></span>
						</li>
						<li tabindex="7" class="cell active" data-id="17">
							Dipreca (Dirección de Previsión de Carabineros de Chile)
							<span></span>
						</li>
						<li tabindex="8" class="cell active" data-id="1">
							Fonasa (Fondo Nacional de Salud)
							<span></span>
						</li>
						<li tabindex="9" class="cell active" data-id="8">
							Fundación (Fundación)
							<span></span>
						</li>
						<li tabindex="10" class="cell active" data-id="11">
							Fusat (Fusat)
							<span></span>
						</li>
						<li tabindex="11" class="cell active" data-id="19">
							Jeafosale (Jefatura Ejecutiva de Fondos de Salud Ejército)
							<span></span>
						</li>
						<li tabindex="12" class="cell active" data-id="2">
							Nueva Masvida (Isapre Nueva Masvida)
							<span></span>
						</li>
						<li tabindex="13" class="cell active" data-id="9">
							Óptima (Óptima)
							<span></span>
						</li>
						<li tabindex="14" class="cell active" data-id="12">
							Río Blanco (Río Blanco)
							<span></span>
						</li>
						<li tabindex="15" class="cell active" data-id="13">
							San Lorenzo (San Lorenzo)
							<span></span>
						</li>
						<li tabindex="16" class="cell active" data-id="6">
							Vida Tres (Vida Tres)
							<span></span>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<button type="button" id="save" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/js/Previsiones.js"></script>

	<!-- /.row -->
</div>